.bg_images_icons  {
    background-position: center;
    background-size: cover;
}
.man_jacket.pocket_one_by_one {
    background-image: url('../../public/images/one_pen_pockets.png');
}
.man_jacket.pocket_on_the_left {
    background-image: url('../../public/images/pocket_on_the_left.png');
}
.man_jacket.pocket_on_the_ticket {
    background-image: url('../../public/images/pocket_on_the_ticket.png');
}
.man_jacket.pocket_on_the_left_pocket {
    background-image: url('../../public/images/pocket_on_the_left_pocket.png');
}

.lapel_button_whole_color {
    background-image: url('../../public/images/lapel_button_whole_color.png');
} 

.modelsbuttons_placementoptions {
    background-image: url('../../public/images/modelsbuttons_placementoptions.png');
}

.modelsbuttons_placementoptions_1 {
    background-image: url('../../public/images/modelsbuttons_placementoptions_1.png');
}

.modelsbuttons_placementoptions_2 {
    background-image: url('../../public/images/modelsbuttons_placementoptions_2.png');
}

.out_side_amf_stichng {
    background-image: url('../../public/images/out_side_amf_stichng.png');
}

.out_side_amf_stichng_1 {
    background-image: url('../../public/images/out_side_amf_stichng_1.png');
}

.out_side_stiching_position_optons {
    background-image: url('../../public/images/out_side_stiching_position_optons.png');
}
.out_side_stiching_position_optons_1 {
    background-image: url('../../public/images/out_side_stiching_position_optons_1.png');
}
.out_side_stiching_position_optons_2 {
    background-image: url('../../public/images/out_side_stiching_position_optons_2.png');
}
.out_side_stiching_position_optons_3 {
    background-image: url('../../public/images/out_side_stiching_position_optons_3.png');
}
.out_side_stiching_position_optons_4 {
    background-image: url('../../public/images/out_side_stiching_position_optons_4.png');
}
.out_side_stiching_position_optons_5 {
    background-image: url('../../public/images/out_side_stiching_position_optons_5.png');
}
.out_side_stiching_position_optons_6 {
    background-image: url('../../public/images/out_side_stiching_position_optons_6.png');
}
.out_side_stiching_position_optons_7 {
    background-image: url('../../public/images/out_side_stiching_position_optons_7.png');
}
.out_side_stiching_position_optons_8 {
    background-image: url('../../public/images/out_side_stiching_position_optons_8.png');
}
.out_side_stiching_position_optons_9 {
    background-image: url('../../public/images/out_side_stiching_position_optons_9.png');
}
.out_side_stiching_position_optons_10 {
    background-image: url('../../public/images/out_side_stiching_position_optons_10.png');
}
.out_side_stiching_position_optons_11 {
    background-image: url('../../public/images/out_side_stiching_position_optons_11.png');
}

.oust_side_edge_stich {
    background-image: url('../../public/images/oust_side_edge_stich.png');
}
.oust_side_edge_stich_1 {
    background-image: url('../../public/images/oust_side_edge_stich_1.png');
}
.oust_side_edge_stich_2 {
    background-image: url('../../public/images/oust_side_edge_stich_2.png');
}
.oust_side_edge_stich_3 {
    background-image: url('../../public/images/oust_side_edge_stich_3.png');
}
.oust_side_edge_stich_4 {
    background-image: url('../../public/images/oust_side_edge_stich_4.png');
}
.oust_side_edge_stich_5 {
    background-image: url('../../public/images/oust_side_edge_stich_5.png');
}

.insidepocketsoption_zapier {
    background-image: url('../../public/images/insidepocketsoption_zapier.png');
}
.insidepocketsoption_zapier_1 {
    background-image: url('../../public/images/insidepocketsoption_zapier_1.png');
}
.insidepocketsoption_zapier_2 {
    background-image: url('../../public/images/insidepocketsoption_zapier_2.png');
}
.insidepocketsoption_zapier_3 {
    background-image: url('../../public/images/insidepocketsoption_zapier_3.png');
}
.insidepocketsoption_zapier_4 {
    background-image: url('../../public/images/insidepocketsoption_zapier_5.png');
}

.inside_pocket_jetts_b {
    background-image: url('../../public/images/inside_pocket_jetts_b.png');
}
.inside_pocket_jetts_b_1 {
    background-image: url('../../public/images/inside_pocket_jetts_b_1.png');
}
.inside_pocket_jetts_2 {
    background-image: url('../../public/images/inside_pocket_jetts_b_3.png');
}

.ins_jts_pos_optin {
    background-image: url('../../public/images/ins_jts_pos_optin.png');
}

.ins_jts_pos_optin_1 {
    background-image: url('../../public/images/ins_jts_pos_optin_1.png');
}
.ins_jts_pos_optin_2 {
    background-image: url('../../public/images/ins_jts_pos_optin_2.png');
}
.ins_jts_pos_optin_3 {
    background-image: url('../../public/images/ins_jts_pos_optin_3.png');
}

.flap_insidE_poket {
    background-image: url('../../public/images/flap_insidE_poket.png');
}

.flap_insidE_poket_1 {
    background-image: url('../../public/images/flap_insidE_poket_1.png');
}

.columbia_image_icons_velop {
    background-image: url('../../public/images/columbia_image_icons_velop.png');
}
.columbia_image_icons_velop_1 {
    background-image: url('../../public/images/columbia_image_icons_velop_1.png');
}

.inside_sweet_velop_postn {
    background-image: url('../../public/images/inside_sweet_velop_postn.png');
}

.inside_sweet_velop_postn_1 {
    background-image: url('../../public/images/inside_sweet_velop_postn_1.png');
}
.inside_sweet_velop_postn_2 {
    background-image: url('../../public/images/inside_sweet_velop_postn_1.png');
}

.inside_pos_velop_lbls {
    background-image: url('../../public/images/inside_pos_velop_lbls.png');
}
.inside_pos_velop_lbls_1 {
    background-image: url('../../public/images/inside_pos_velop_lbls_1.png');
}
.inside_pos_velop_lbls_2 {
    background-image: url('../../public/images/inside_pos_velop_lbls_2.png');
}
.inside_pos_velop_lbls_3 {
    background-image: url('../../public/images/inside_pos_velop_lbls_3.png');
}
.inside_pos_velop_lbls_4 {
    background-image: url('../../public/images/inside_pos_velop_lbls_4.png');
}
.inside_pos_velop_lbls_5 {
    background-image: url('../../public/images/inside_pos_velop_lbls_5.png');
}

.ins_stch_lbls_pos_lop {
    background-image: url('../../public/images/ins_stch_lbls_pos_lop.png');
}

.ins_stch_lbls_pos_lop_1 {
    background-image: url('../../public/images/ins_stch_lbls_pos_lop_1.png');
}

.btn_whols_sleevs_pos_velop_opt {
    background-image: url('../../public/images/btn_whols_sleevs_pos_velop_opt.png');
}
.btn_whols_sleevs_pos_velop_opt_1 {
    background-image: url('../../public/images/btn_whols_sleevs_pos_velop_opt_1.png');
}
.btn_whols_sleevs_pos_velop_opt_2 {
    background-image: url('../../public/images/btn_whols_sleevs_pos_velop_opt_2.png');
}
.btn_whols_sleevs_pos_velop_opt_3 {
    background-image: url('../../public/images/btn_whols_sleevs_pos_velop_opt_3.png');
}




.embionry_position {
    background-image: url('../../public/images/embionry_position.png');
}

.embionry_position_1 {
    background-image: url('../../public/images/embionry_position_1.png');
}

.embionry_position_2 {
    background-image: url('../../public/images/embionry_position_2.png');
}

.embionry_position_3 {
    background-image: url('../../public/images/embionry_position_4.png');
}

.embionry_position_4 {
    background-image: url('../../public/images/embionry_position_5.png');
}

.embionry_position_5 {
    background-image: url('../../public/images/embionry_position_6.png');
}

.embionry_position_6 {
    background-image: url('../../public/images/embionry_position_7.png');
}

.embionry_position_7 {
    background-image: url('../../public/images/embionry_position_8.png');
}
.sleeve_whole_positions {
    background-image: url('../../public/images/sleeve_whole_positions.png');
}
.sleeve_whole_positions_1 {
    background-image: url('../../public/images/sleeve_whole_positions_1.png');
}
.sleeve_whole_positions_2 {
    background-image: url('../../public/images/sleeve_whole_positions_2.png');
}
.sleeve_whole_positions_3 {
    background-image: url('../../public/images/sleeve_whole_positions_3.png');
}

.sleeve_whole_stiching_type {
    background-image: url('../../public/images/sleeve_whole_stiching_type.png');
}
.sleeve_whole_stiching_type_1 {
    background-image: url('../../public/images/sleeve_whole_stiching_type_1.png');
}
.sleeve_whole_stiching_type_2 {
    background-image: url('../../public/images/sleeve_whole_stiching_type_2.png');
}
.sleeve_whole_stiching_type_3 {
    background-image: url('../../public/images/sleeve_whole_stiching_type_3.png');
}

.elbowpatchesvariant {
    background-image: url('../../public/images/elbowpatchesvariant.png');
}

.elbowpatchesvariant_1 {
    background-image: url('../../public/images/elbowpatchesvariant_1.png');
}

.withoutenvelopeflap{
    background-image: url('../../public/images/withoutenvelopeflap.png');
}

.on_the_left_inside_pocket{
    background-image: url('../../public/images/On_the_left_inside_pocket.png');
}

.on_the_right_inside_pocket{
    background-image: url('../../public/images/On_the_right_inside_pocket.png');
}

.on_the_left_and_the_right_inside_pockets{
    background-image: url('../../public/images/on_the_left_and_the_right_inside_pockets.png');
}
